/**
	* _body.scss
	*
	*
*/


html,
body {
	@include antialias-text;
	scroll-behavior: smooth;

	&.scroll-lock {
		height: 100vh;
		width: 100vw;
		overflow: hidden;
	}
}

body {
	@include antialias-text;
	background-color: transparent;
	font-family: $sans;
	font-size: $base-font-size;
	font-weight: normal;
	word-wrap: break-word;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

